<!-- Footer -->
<footer class="page-footer font-small unique-color-dark" style="background-color: black; color: white;">

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <br>
    <div class="row">
      <div class="col">
        <h3>Become a part of PayMall Family</h3>
      </div>
      <div class="col">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter your e-mail address" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><i class="fa fa-thumbs-up" style="color: rgb(0, 183, 255);"></i></button>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col">
        <h4 class="font-weight-bold" style="color: rgb(0, 183, 255);">Learn More</h4>
        <p>Sell on PayMall</p>
        <p>Shop with PayCash</p>
      </div>

      <div class="col">
        <h4 class="font-weight-bold" style="color: rgb(0, 183, 255);">Services</h4>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Partner with us
        </p>
        <p>Marketing</p>
        <p>Home Delivery</p>
        <p>Fast and Secure</p>
        <p>Suggest Us</p>
      </div>

      <div class="col">
        <h4 class="font-weight-bold" style="color: rgb(0, 183, 255);">Customer Care</h4>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Blog</p>
        <p>Media Care</p>
        <p>24x7 Help</p>
        <p>Grievance Policy</p>
      </div>

      <div class="col">
        <h4 class="font-weight-bold" style="color: rgb(0, 183, 255);">About</h4>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>FAQ</p>
        <p>About Us</p>
        <p>Contact Us</p>
      </div>

    </div>
  </div>
  <!-- Footer Links -->

  <hr style="background-color: gray;">

  <div class="row">

    <div class="col" style="text-align: center">
      <img src="https://activewin.co.uk/media/1189/download-play-store-600x220.png" style="width: 200px; height: 70px;"
        alt="">
      <img src="https://icon-library.net/images/iphone-app-download-icon/iphone-app-download-icon-5.jpg"
        style="width: 200px; height: 70px;" alt="">
    </div>

    <div class="col" id="sm-icons" style="text-align: center">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-youtube"></a>
      <a href="#" class="fa fa-pinterest"></a>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>

</footer>
<!-- Footer -->