.carousel-item img {
    height: 600px;
    width: 200px;
}

.card {
    border: none;
    height: 30px;
}

.card img {
    border: lightgray;
    border-radius: 50%;
    max-height: 130px;
    max-width: 130px;
}

.card-title a {
    text-decoration: none;
    color: black;
}

.card-title a:hover {
    color: lightsalmon;
}

#chota-jumbo {
    background-color: white;
    height: 200px;
    margin-bottom: 5%;
}

#content img{
    height: 400px;
    width: 250px;
}
