<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <img
        src="https://assetscdn1.paytm.com/images/catalog/product/M/MO/MOBMI-A2-4GB-64GLOB3631770A001CA/1570082840952_0.jpeg?imwidth=320&impolicy=hq"
        alt="">
    </div>
    <div class="col-lg-8">
      <div class="row" style="margin-top: 10%;">
        <div class="col product-title">
          title
        </div>
      </div>
      <div class="row">
        <div class="col product-desc">
          desc
        </div>
      </div>
      <div class="row" style="margin-top: 10%;">
        <div class="col-lg-4">
          <button type="button" class="btn btn-primary">Price</button>
        </div>
        <div class="col-lg-4">
          <button type="button" class="btn btn-primary">{{qty}}Stock</button>
        </div>
        <div class="col-lg-4">
          <button type="button" class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>