<app-navbar></app-navbar>


<!--carousel Effect-->
<h2 style="text-align: center;">Mobiles</h2>
<br>

<div class="jumbotron" id="banner">
</div>

<!--Logo-->
<div class="container-fluid">
  <div class="row">

    <div class="col">
      <div class="card">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/255926/1549313044218.jpg?imwidth=140&impolicy=hq"
          alt="">
        <div class="card-body">
          <h5 class="card-title"><a href="/mens" style="text-align: center;">
              <h5 style="text-align: center;">Apple</h5>
            </a></h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/311604/1566386635098.jpg?imwidth=140&impolicy=hq"
          alt="">
        <div class="card-body">
          <h5 class="card-title"><a href="/mens" style="text-align: center;">
              <h5 style="text-align: center;">Samsung</h5>
            </a></h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/228919/1554122450845.jpg?imwidth=140&impolicy=hq"
          alt="">
        <div class="card-body">
          <h5 class="card-title"><a href="/mens" style="text-align: center;">
              <h5 style="text-align: center;">Vivo</h5>
            </a></h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/219855/1557469261198.jpg?imwidth=140&impolicy=hq"
          alt="">
        <div class="card-body">
          <h5 class="card-title"><a href="/mens" style="text-align: center;">
              <h5 style="text-align: center;">Oppo</h5>
            </a></h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/446990/1564650701942.jpg?imwidth=140&impolicy=hq"
          alt="">
        <div class="card-body">
          <h5 class="card-title"><a href="/mens" style="text-align: center;">
              <h5 style="text-align: center;">CoolPad</h5>
            </a></h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/312762/1566386733339.jpg?imwidth=140&impolicy=hq"
          alt="">
        <div class="card-body">
          <h5 class="card-title"><a href="/mens" style="text-align: center;">
              <h5 style="text-align: center;">Mi</h5>
            </a></h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/221980/1549313045167.jpg?imwidth=140&impolicy=hq"
          alt="">
        <div class="card-body">
          <h5 class="card-title"><a href="/mens" style="text-align: center;">
              <h5 style="text-align: center;">Motorola</h5>
            </a></h5>
        </div>
      </div>
    </div>

    <!-- <div class="col">
      <div class="card">
        <img src=" https://assetscdn1.paytm.com/images/catalog/view_item/188982/1550211038614.jpg?imwidth=140&impolicy=hq" alt="">
        <div class="card-body">
          <h5 class="card-title"><a href="/mens" style="text-align: center;">
              <h5 style="text-align: center;">iball</h5>
            </a></h5>
        </div>
      </div>
    </div> -->

  </div>
</div>

<div class="jumbotron" id="chota-jumbo">
  <div class="row">
    <div class="col" style="padding-top: 10%; padding-bottom: 10%;">
      <h2 style="text-align: center;">Best Sellers at Best Prices</h2>
    </div>
  </div>

  <br>

</div>
<!--content-->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <a href="">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/467136/1569771021108.jpg?imwidth=414&impolicy=hq"
          alt="">
      </a>
    </div>

    <div class="col">
      <a href="">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/467137/1569771044846.jpg?imwidth=414&impolicy=hq"
          alt="">
      </a>
    </div>

    <div class="col">
      <a href="">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/467139/1569771120491.jpg?imwidth=414&impolicy=hq"
          alt="">
      </a>
    </div>

  </div>
</div>

<app-footer></app-footer>