<app-navbar></app-navbar>

<!-- if no product -->
<div class="container">
  <div class="container" style="margin-top: 10%;">
    <div class="row">
      <div class="col-lg-4">
        <img src="https://assetscdn1.paytm.com/images/catalog/view_item/199492/1557813750277.jpg?imwidth=200&impolicy=hq" alt="">
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-4">
            name
          </div>
          <div class="col-lg-4">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Quantity" aria-label="Quantity"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Add</button>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            price
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            Total Product Price
          </div>
          <div class="col-lg-6">
            <button type="button" class="btn btn-primary">Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      Total Product Price
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn btn-primary">Proceed</button>
    </div>
  </div>
</div>

<app-footer></app-footer>