<app-navbar></app-navbar>


<!--carousel Effect-->
<h2 style="text-align: center;">Laptops Store</h2>
<br>

<div class="jumbotron" id="banner">
</div>

<!--Logo-->
<div class="container-fluid">
  <div class="row">

    <div class="col">
      <div class="card">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/253494/1548649884738.jpg?imwidth=140&impolicy=hq"
          alt="">
        <div class="card-body">
          <h5 class="card-title"><a href="/mens" style="text-align: center;">
              <h5 style="text-align: center;">HP</h5>
            </a></h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/188985/1554183765534.jpg?imwidth=140&impolicy=hq"
          alt="">
        <div class="card-body">
          <h5 class="card-title"><a href="/mens" style="text-align: center;">
              <h5 style="text-align: center;">Asus</h5>
            </a></h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/188979/1556621100314.jpg?imwidth=140&impolicy=hq"
          alt="">
        <div class="card-body">
          <h5 class="card-title"><a href="/mens" style="text-align: center;">
              <h5 style="text-align: center;">Lenovo</h5>
            </a></h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/188984/1550210829220.jpg?imwidth=140&impolicy=hq"
          alt="">
        <div class="card-body">
          <h5 class="card-title"><a href="/mens" style="text-align: center;">
              <h5 style="text-align: center;">Dell</h5>
            </a></h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/194418/1550209390423.jpg?imwidth=140&impolicy=hq"
          alt="">
        <div class="card-body">
          <h5 class="card-title"><a href="/mens" style="text-align: center;">
              <h5 style="text-align: center;">Acer</h5>
            </a></h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/188977/1550210919360.jpg?imwidth=140&impolicy=hq"
          alt="">
        <div class="card-body">
          <h5 class="card-title"><a href="/mens" style="text-align: center;">
              <h5 style="text-align: center;">Apple</h5>
            </a></h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/188987/1550210962066.jpg?imwidth=140&impolicy=hq"
          alt="">
        <div class="card-body">
          <h5 class="card-title"><a href="/mens" style="text-align: center;">
              <h5 style="text-align: center;">Microsoft</h5>
            </a></h5>
        </div>
      </div>
    </div>

    <!-- <div class="col">
      <div class="card">
        <img src=" https://assetscdn1.paytm.com/images/catalog/view_item/188982/1550211038614.jpg?imwidth=140&impolicy=hq" alt="">
        <div class="card-body">
          <h5 class="card-title"><a href="/mens" style="text-align: center;">
              <h5 style="text-align: center;">iball</h5>
            </a></h5>
        </div>
      </div>
    </div> -->

  </div>
</div>

<div class="jumbotron" id="chota-jumbo">
  <div class="row">
    <div class="col" style="padding-top: 10%; padding-bottom: 10%;">
      <h2 style="text-align: center;">Best Sellers at Best Prices</h2>
    </div>
  </div>

  <br>

</div>
<!--content-->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <a href="">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/467136/1569771021108.jpg?imwidth=414&impolicy=hq"
          alt="">
      </a>
    </div>

    <div class="col">
      <a href="">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/467137/1569771044846.jpg?imwidth=414&impolicy=hq"
          alt="">
      </a>
    </div>

    <div class="col">
      <a href="">
        <img
          src="https://assetscdn1.paytm.com/images/catalog/view_item/467139/1569771120491.jpg?imwidth=414&impolicy=hq"
          alt="">
      </a>
    </div>

  </div>
</div>

<app-footer></app-footer>